.carousel-container {
  width: 100%;
  height: 50rem;

  position: relative;
}

.carouselLogoOnTop {
  width: 50rem;
  position: absolute;
  bottom: 6%;
  left: 4%;
}

.arrowBtn {
  width: 5rem;
  cursor: pointer;
}

.arrowBtn:hover {
  filter: brightness(2);
}

.left {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%) rotate(180deg);
}

@media only screen and (max-width: 1320px) {
  .carousel-container {
    width: 100%;
    height: 40rem;

    position: relative;
  }
  .carouselLogoOnTop {
    width: 30rem;
    position: absolute;
    bottom: 6%;
    left: 4%;
  }
  .arrowBtn {
    width: 3rem;
  }
}

@media only screen and (max-width: 476px) {
  .carousel-container {
    width: 100%;
    height: 20rem;

    position: relative;
  }
  .carouselLogoOnTop {
    width: 13rem;
    position: absolute;
    bottom: 8%;
    left: 4dvb;
  }

  .arrowBtn {
    width: 2rem;
  }
}
