.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.8rem 0.5rem 1rem;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 0.2rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin: 0.5rem;
  font-weight: 500;
}
a:hover {
  color: #010bff;
}

.routes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar-route-btns-container {
  display: inline-block;
}

.Smart-logo {
  height: 6rem;
}

#openMenuBtn {
  position: absolute;
  right: 10%;
  display: none;
}
#closeBtn {
  display: none;
}

.menuLogo {
  width: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 1320px) {
  .navbar-container {
    position: relative;
  }
  .routes-container {
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 100%;
    right: 0%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px rgb(100, 97, 97);
    z-index: 1;
  }

  #openMenuBtn {
    display: block;
  }

  .closed {
    display: none;
  }
  .Smart-logo {
    height: 5rem;
  }
  .menuLogo {
    width: 2rem;
    cursor: pointer;
  }

  #openMenuBtn {
    position: absolute;
    right: 10%;
    top: 50%;
  }
  .navbar-route-btns-container {
    width: 100%;
    text-align: right;
    padding: 0.7rem;
    border-top: 1px solid rgb(168, 166, 166);
  }
  a {
    font-size: 25px;
  }

  .closed {
    display: none;
  }
}

@media only screen and (max-width: 476px) {
  .menuLogo {
    width: 1rem;
    cursor: pointer;
  }
  .Smart-logo {
    height: 3rem;
  }
  .navbar-route-btns-container {
    width: 100%;
    text-align: right;
    padding: 0.3rem;
    border-top: 1px solid rgb(168, 166, 166);
  }
  a {
    font-size: 15px;
  }
  .routes-container {
    width: 100%;
    height: 13rem;
    position: absolute;
    top: 100%;
    right: 0%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
}
