.footer-container {
  width: 100%;
  padding: 1rem;
  background-color: #a9acfa;

  display: flex;
}

.footerSmartLogo {
  width: 28rem;
  margin: 0 5rem 0 5rem;
}

.arrowed-text {
  display: flex;
  align-items: center;
}

.arrowed-text > p {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.infoTitle-footer-p {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 5rem;
}

.footer-media-logos {
  margin-left: 10rem;
  margin-top: 1rem;
}
.media-logo-Fo {
  width: 2.5rem;
}

@media only screen and (max-width: 1320px) {
  .footerSmartLogo {
    width: 20rem;
    margin: 0 3rem 0 3rem;
  }
  .footer-media-logos {
    margin-left: 6rem;
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 476px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footerSmartLogo {
    width: 10rem;
    margin: 0;
  }
  .media-logo-Fo {
    width: 1.8rem;
  }
  .footer-media-logos {
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .infoTitle-footer-p {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .arrowed-text > p {
    font-size: 1rem;
  }
  .arrowed-text {
    margin-left: 6rem;
  }
}
